/* *{
    color:red;
} */
body{
    height: 100%;
    width:100%;
    background-color: black;
}
.ball {
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.paddle{
    width:15px;
    height:100px;
    background-color:greenyellow;
    position: absolute;
    /* top:0px; */
    /* transform: translateY(-50%); */
    
}
.container {
  width:50%;
  height: 500px;
background-color: rgb(1, 1, 64);
padding: 0px;
position: relative;
}